.container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid black;
  background-color: black;
}

.requestInput {
  display: block;
}

.cube {
  aspect-ratio: 1;
  flex: 1 0 auto;
}

.hover {
  background-color: blueviolet;
}